nav .logo-img{
  width: 200px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(218, 214, 214);
}
nav ul{
  list-style: none;
  display: flex;
  gap: 50px;
}
nav ul a{
  text-decoration: none;
  color: Grey;
  font-weight: bolder;
}
nav ul a:hover{
  transition: 0.5s;
  color: rgb(127, 197, 22);
}